@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf');
}


/* ---------------------------------- CSS Editeur de Présentations ---------------------------------- */

body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Open Sans', sans-serif;
}

/* Gestion des polices */
h1  {
	font-size: 55px;
	white-space: pre-wrap;
}

#title {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 35px;
	word-wrap: break-word;
	white-space: nowrap;
}

h1, h2 {
	font-weight: lighter;
	text-transform: uppercase;
}
/* Fin de gestion des polices */


/* Gestion des boutons */
button {
	padding: 1%;
	clear: both;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(220, 220, 220, 0.6));
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: auto;
	display: block;
	white-space: pre-wrap;
}

#ajout-slide, #suppr-slide, #dupl-slide {
	padding: 2%;
	margin-top: 2%;
	width: 80%;
}

#slide-buttons {
	width: 100%;
}

#slide-popup button {
	padding: 1% 8% 1% 8%;
	margin-top: 5%;
}

.blocButton {
	width: 40%;
	margin-top: 0;
}

#suppr-popup button {
	width: 20%;
}

#picture-popup button, #picture-popup-edit button {
	clear: both;
	width: 40%;
	margin-top: 8%;
}

#array-popup button, #array-popup-edit button {
	clear: both;
	width: 40%;
}

#valid-background {
	width: 40%;
	margin-top: 8%;
	padding: 1.5%;
}

.uploadButton {
	margin-bottom: 0;
	width: 30%;
}

#background-popup .uploadButton {
	width: 50%;
}

.button {
	display: flex;
	margin-top: 4%;
	margin-bottom: 4%;
}

.button button {
	width: 30%;
	padding: 1.5%;
}

#change-background {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5%;
}


button:hover {
	cursor: pointer;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(220, 220, 220, 0.6));
}
/* Fin de la gestion des boutons. */



.container ul {
	padding: 0;
	margin: 0;
}

.no-style {
	list-style-type: none;
}

.container li {
	list-style-type: none;
}

li[selected='selected'] {
	font-weight: bold;
	color: rgba(0, 38, 153, 1);
}


/* Gestion des formulaires */
form {
	width: 100%;
	height: 100%;
}

legend {
	text-transform: uppercase;
	font-size: 30px;
	width: 100%;
}

.popup legend {
	margin-bottom: 6%;
}

#suppr-popup legend {
	margin-bottom: 12%;
}

input {
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	height: 20px;
	width: 95%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 4%;
	margin-top: 5%;
}

input[type='number'] {
	width: 30%;
	margin-top: 1%;
}

input[type=file]{
	display:none;
}

.red {
	border: 2px solid rgba(200, 0, 0, 1);
}

.green {
	border: 2px solid rgba(0, 150, 0, 1);
}

input[inactive=true]{
	user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    color: gray;
    cursor: pointer;
}

#picture-url, #video-url {
	width: 65%;
}

#title-input {
	width: 65%;
	margin-bottom: 8%;
	clear: both;
}

#title input {
	font-size: 55px;
	height: 5%;
	width: 90%;
	padding: 0;
	margin: 0;
}

select {
	cursor: pointer;
	padding: 1%;
	font-size: 15px;
	border-radius: 5px;
}


/* Fin de la gestion des formulaires */


/* Gestion du header */
header {
	width: 100%;
	text-align: center;
}
/* Fin de gestion du header */


/* Gestion des messages d'erreur */
.error {
	margin-top: 5%;
	font-size: 18px;
	text-align: center;
	width: 100%;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(100, 0, 0, 0.8);
	border: 3px solid rgba(230, 0, 0, 0.9);
	border-radius: 5px;
	padding: 1%;
	display: none;
	font-weight: bold;
}
/* Fin de gestion des messages d'erreur */


/* Gestion de la fermeture des popups */
.close {
	position: absolute;
	right: 15px;
	top: 6px;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 0 1px 0 #ffffff;
}

.close:hover {
	color: rgba(200, 0, 0, 1);
}
/* Fin de gestion de la fermeture des popups */


/* Gestion des shade */
#shade {
  	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
  	display: none;
}

#white-shade {
  	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
  	display: none;
}

#warning {
	cursor: default;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 95px;
	color: rgba(150, 0, 0, 0.9);
}

#open-error {
	width: 60%;
	font-size: 30px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%);
}

#white-shade .close {
	top: 3%;
	right: 3%;
	font-size: 45px;
}
/* Fin de gestion des shade */


/* Gestion des popups */
.popup {
	position: absolute;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(210, 210, 210, 1));
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	text-align: center;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 2% 5% 1% 5%;
}

#title-popup {
	width: 25vw;
}

#background-popup {
	width: 25vw;
}

#suppr-popup {
	width: 25vw;
	min-height: 20vh;
}

#slide-popup {
	min-width: 50vw;
	max-width: 50vw;
}

#text-popup {
	width: 40vw;
}

#array-popup {
	width: 25vw;
	min-height: 22vh;
}

/* Gestion de la popup Array*/
#nR-nC {
	display: flex;
	margin-bottom: 8%;
}

#arrayRows, #arrayCols {
	width: 50%;	
}

#arrayRows p, #arrayCols p {
	font-size: 14px;
}

@media screen and (max-width: 1100px) {
	#array-popup, #background-popup {
		width: 30vw;
	}

	#suppr-popup {
		width: 40vw;
	}

	#arrayRows p, #arrayCols p {
		font-size: 12px;
	}
}

@media screen and (max-width: 900px) {
	#array-popup, #title-popup, #background-popup {
		width: 35vw;
	}

	#suppr-popup {
		width: 50vw;
	}
}

@media screen and (max-width: 700px) {
	#array-popup, #title-popup, #background-popup {
		width: 45vw;
	}

	#suppr-popup {
		width: 60vw;
	}
}

/* Fin de la gestion de la popup Array */
/* Fin de gestion des popups */


/* Gestion des asides */

/* SLIDES */
#slides {
	left: 0.5%;
}
#slides h2, #blocs h2 {
	height: 7%;
}

#slides, #blocs {
	position: absolute;
	background-color: rgba(200, 200, 200, 0.5);
	top: 25%;
	padding: 0% 1% 2% 1%;
	min-width: 130px;
	width: 12vw;
	text-align: center;
	border-radius: 5px;
	display: block;
	z-index: 2;
}

.container {
	background-color: rgba(185, 185, 185, 0.5);
	border-radius: 5px;
	padding: 0% 5% 0% 5%;
	overflow-y: auto;
	min-width: 120px;
	width: 10vw;
	max-width: 10vw;
	height: 30vh;
	max-height: 30vh;
	margin-bottom: 5%;
	margin-left: 50%;
	transform: translateX(-50%);
}
/* FIN SLIDES */


/* BLOCS */
#blocs {
	right: 0.5%;
}

#bloc-list, #slide-list {
	width: 100%;
	text-align: center;
}

#bloc-list li, #slide-list li {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#slide-list li, #bloc-list li {
	padding: 5%;
	white-space: pre-wrap;
}

#bloc-list li:hover, #slide-list li:hover {
	cursor: pointer;
	font-weight: bold;
	color: rgba(0, 38, 153, 1);
}
/* FIN BLOCS */
/* Fin de gestion des asides */


/* Gestion de la slide */
#current-slide {
	border: 1px dashed rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 55%;
	height: 75%;
	background: no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
	left: 22%;
	margin-top: 1%;
	z-index: 1;
}
/* Fin de gestion de la slide */

/* Gestion des blocs*/
.bloc {
	border-radius: 5px;
	border: 1px dotted #000;
	width: 150px;
	height: 150px;
	position: absolute !important;
	cursor: move;
	overflow: hidden;
  	background: none;
  	z-index: 0;
}
.selection {
    box-shadow: 0px 0px 30px -3px #000;
    background-color: rgba(255, 255, 255, 0.9);
  	z-index: 3 !important;
}

.legend {
  width: 100%;
  position: absolute;
  bottom: 0;
  word-wrap: break-word;
}

.legend_black {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.legend_white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.imageclass {
  width: 100%;
  height: 100%
}

.imageclass img {
  width: 100%;
  height: 100%;
}

.blockPicture {
  width: auto;
  height: auto;
  min-height: 100px;
  min-width: 100px;
  overflow: visible;
}

.blockText {
  word-wrap: break-word;
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  outline: 0 !important;
}

.blockText h1 {
	margin-top: -15px;
}

.blockText h2 {
	margin-top: -7px;
}

.blockText h3 {
	margin-top: -3px;
}

.video_class {
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

td, th {
  border: 1px solid black;
}

.table_class {
  table-layout: fixed;
}

.table_class td {
  width: 2%;
  text-align: center;
}

.table_class td, .table_class th {
	word-wrap: break-word;
}

.table_class td:hover, .table_class th:hover {
	background-color: rgba(0, 38, 153, 0.2);
}

/* Fin de gestion des blocs. */



/* Gestion des hover title */
 .ui-tooltip, .arrow:after, .arrow-left:after, .arrow-right:after {
	background: rgba(240, 240, 240, 1);
	border: 2px solid rgba(0, 38, 153, 1);
}

.ui-tooltip {
	text-align: center;
	padding: 10px 20px;
	color: rgba(0, 38, 153, 1);
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}

.arrow {
	width: 100px;
	height: 16px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow.top {
	top: -16px;
	bottom: auto;
}

.arrow-left {
	width: 50px;
	height: 50px;
	position: absolute;
	overflow: hidden;
	right: 0;
	margin-right: -41px;
	bottom: -5px;
}

.arrow-left:after {
	content: "";
	position: absolute;
	left: -15px;
	top: 13px;
	width: 24px;
	height: 24px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.arrow-right {
	width: 50px;
	height: 50px;
	position: absolute;
	overflow: hidden;
	left: 0;
	margin-left: -41px;
	bottom: -5px;
}

.arrow-right:after {
	content: "";
	position: absolute;
	right: -15px;
	top: 13px;
	width: 24px;
	height: 24px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.arrow.top:after {
	bottom: -20px;
	top: auto;
}
/* Fin de gestion des hover title */

/* Gestion de la Toolbox */
#toolbox {
	max-width: 160px;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 2%;
	padding: 0.5%;
	margin-left: 50%;
	transform: translateX(-50%);
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
}

#dl-pres, #new-pres-link, #open-pres  {
	margin-right: 8%;
}

#toolbox a:visited {
	color: rgba(0, 0, 0, 1);
}

#toolbox a {
	color: rgba(0, 0, 0, 1);
}

.glyphicon:hover {
	cursor: pointer;
	color: rgba(0, 38, 153, 1);
}

/* Fin de gestion de la Toolbox */


/* Gestion fenêtre loading */
.loading-screen {
    color: #000;
    font-weight: bold;
    font-size: 26px;
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 45vh;
}
/* Fin gestion loading */
